[package]
name = "irust"
version = "1.65.0"
authors = ["Nbiba Bedis <bedisnbiba@gmail.com>"]
edition = "2021"
readme = "README.md"
description = "Cross Platform Rust Repl"
repository = "https://github.com/sigmaSd/IRust"
license = "MIT"

[dependencies]
irust_api = { path = "../irust_api/", version = "0.31.0" }
irust_repl = { path = "../irust_repl", version = "0.19.3", features = ["serde"] }
printer = { path = "../printer/", version = "0.5.0" }

crossterm = { version = "0.25.0", features = ["serde"] }
dirs = "4.0.0"
once_cell = "1.16.0"
rscript = "0.17.0"
rustc_lexer = { version = "727.0.0", optional = true, package = "rustc-ap-rustc_lexer" }
serde = { version = "1.0.145", features = ["derive"] }
syntect = { version = "5.0.0", optional = true, default-features = false, features = ["default-fancy"]}
toml = "0.5.9"

[target.'cfg(unix)'.dependencies]
libc = "0.2.135"

[features]
default = ["rustc_lexer"]
change_highlight = ["rustc_lexer", "syntect"]

# [profile.release]
# debug = true
