[package]
name = "irust_repl"
version = "0.19.4"
authors = ["Nbiba Bedis <bedisnbiba@gmail.com>"]
edition = "2021"
readme = "README.md"
description = "IRust Repl abstraction"
repository = "https://github.com/sigmaSd/IRust/tree/master/crates/irust_repl"
license = "MIT"

[dependencies]
once_cell = "1.16.0"
serde = { version = "1.0.147", features = ["derive"], optional = true }

[package.metadata.workspaces]
independent = true
