name:  Release Binary

on:
  push:
   tags:
    - 'irust@[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: write
 
jobs:
  build:
    name: Release libs
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v2

    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    ###################
    # cross-compile mac aarch64 from linux using zig
    - if: runner.os == 'Linux'
      uses: goto-bus-stop/setup-zig@v1
      with:
        version: 0.10.1

    - if: runner.os == 'Linux'
      name: Install cargo-zigbuild
      run: |
        cargo install cargo-zigbuild

    - if: runner.os == 'Linux'
      name: Build MacOS aarch64 binary
      run: |
        rustup target add aarch64-apple-darwin
        cargo zigbuild --release --target aarch64-apple-darwin
    ###################

    # Build for Musl
    - if: runner.os == 'Linux'
      name: Build MacOS aarch64 binary
      run: |
        rustup target add x86_64-unknown-linux-musl
        cargo build --release --target=x86_64-unknown-linux-musl
    ####################################

    - name: Build
      if: runner.os != 'Linux'
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --release

    - if: runner.os == 'MacOS'
      name: Upload MacOS x86_64 Binary
      uses: svenstaro/upload-release-action@v2
      with:
        file: target/release/irust
        asset_name: irust-x86_64-apple-darwin
        tag: ${{ github.ref }}
        overwrite: true

    - if: runner.os == 'Linux'
      name: Upload MacOS aarch64 binary
      uses: svenstaro/upload-release-action@v2
      with:
        file: target/release/irust
        asset_name: irust-aarch64-apple-darwin
        tag: ${{ github.ref }}
        overwrite: true

    - if: runner.os == 'Linux'
      name: Upload Linux binary
      uses: svenstaro/upload-release-action@v2
      with:
        file: target/release/irust
        asset_name: irust-x86_64-unknown-linux-gnu
        tag: ${{ github.ref }}
        overwrite: true

    - if: runner.os == 'Windows'
      name: Upload Windows binary
      uses: svenstaro/upload-release-action@v2
      with:
        file: target/release/irust.exe
        asset_name: irust-x86_64-pc-windows-msvc.exe
        tag: ${{ github.ref }}
        overwrite: true